div[class^='flex-container'] {
    background-color: #FCA17D;
    padding: .5em 0;
    margin-bottom: 25px;
}

.flex-item{
    width: 30px;
    height: 30px;
    margin: .5em;
    background-color: blueviolet;
    color: aliceblue;
    text-align: center;
    line-height: 30px;
}