/* 

    https://developer.mozilla.org/es/docs/Web/CSS/background

    La propiedad background es un shorthand para definir los valores individuales del fondo
    de una caja en una única regla CSS. 
    Se puede usar background para definir los valores de una o de todas las propiedades 
    siguientes: background-attachment, color, image, position, repeat, size, Background-origin y background-clip.

    También podemos hacer uso de varios backgrounds dentro de una misma caja.

    background-color: Background-color es un propiedad de CSS que define el color de fondo de un elemento,
    puede ser el valor de un color o la palabra clave transparent.

    La propiedad CSS background-image establece una o más imágenes de fondo para un elemento.

    */

body{
    margin: 0;
    box-sizing: border-box;
    background-color: #333;
}

[class^='box-']{
    width: 300px;
    height: 300px;
    border: 1px solid #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.box-1{
    /* Podemos hacer uso de varias formas de color se van sobrescribiendo por cascada */
    background-color: #fff;
    background-color: rgb(255,255,204);
    background-color: transparent;
    background-color: teal;
}

.box-2{
    background-image: url();
}